input {
	padding: 0px 10px;
	border-radius: 45px;
	font-size: 15px;
	border: 0;
	outline: none;
	text-align: center;
	border: 1px solid #000000;
}
button {
	text-decoration: none;
	display: inline-block;
	padding: 10px 30px;
	margin: 10px 30px;
	position: relative;
	overflow: hidden;
	border: 1px solid #000000;
	border-radius: 8px;
	font-family: 'Montserrat', sans-serif;
	color: #fe6637;
	transition: .2s ease-in-out;
	outline: none;
	background: #fff;
	color: #000000;
}
button:disabled {
	border: 1px solid #000000;
	background: #ccb7b7;
}
button:hover {
	background: #ccb7b7;
}
.pole {
	width: 50%;
	min-width: 800px;
	max-width: 1920px;
	background: #ebebeb;
	margin: 0 auto;
	height: 860px;
	text-align: center;
	border: 1px solid #000000;
}
.rule {
	padding: 20px 30px 20px 30px;
	background: #ebebeb;
}
.result {
	width: 100%;
	height: 70px;
	background: #ebebeb;
	font-size: 18px;
}
.playerWin {
	background: #fff;
	color: #000000;
	font-size: 18px;
}
.playerLose {
	background: #000000;
	color: #fff;
	font-size: 18px;
}
.playerDraw {
	background: #5e7987;
	color: #000000;
	font-size: 18px;
}
.answer {
	display: grid;
	grid-template-columns: 50% 50%;
}